/* Establecer altura y ancho de la página principal */
ion-content {
  height: 100%;
}

/* Hacer que ion-card y ion-card-content ocupen todo el alto y ancho */
ion-card,
ion-card-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-item {
  padding: 10px;
}

ion-button {
  padding: 20px;
}

ion-card-header {
  padding: 10px 0;
  font-size: 100px !important;
}

.titulo-bonito {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.cont-fecha {
  display: flex;
}
