<ion-content
  scroll-y="true"
  class="text-center"
  style="padding-left: 0; padding-right: 0"
>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title> Perfil </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <div class="caja-imagen" style="margin-top: 20px">
      <input
        type="file"
        id="fileInput"
        accept="image/*"
        (change)="onFileSelected($event)"
      />
      <img *ngIf="llego == false" [src]="sinImagen" width="100px" alt="" />
      <img *ngIf="llego == true" [src]="hostImages" width="200px" alt="" />
    </div>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Cedula</ion-label>
        <ion-input [(ngModel)]="cedula" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input [(ngModel)]="telefono" type="email"></ion-input>
      </ion-item>

      <ion-item class="cont-fecha">
        <label for="">Fecha de nacimiento</label>
        <input [(ngModel)]="fechaFormateada" type="date" max="2023-09-07" />
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nickname</ion-label>
        <ion-input [(ngModel)]="nickname" disabled="" type="email"></ion-input>
      </ion-item>

      <div class="d-grid gap-2 col-6 mx-auto p-4">
        <button (click)="actualizar()" class="btn btn-primary" type="button">
          Actualizar
        </button>
      </div>
    </ion-card-content>
  </ion-card>
  <!-- /////////////// -->
</ion-content>
