<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <h2 class="text-center" style="margin-top: 10px">
          Bienvenido {{usuario[1]}}
        </h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- ////// -->
  <div class="centrar-contenedor m-5">
    <a
      *ngFor="let item of empresas"
      (click)="navegarProductoEmpresa(item.em_id)"
    >
      <div class="card mb-3" style="max-width: 640px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              [src]="item.em_imagen"
              class="img-fluid rounded-start h-100 w-100 object-fit-cover"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ item.em_nombre }}</h5>
              <p class="card-text">{{ item.em_eslogan }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto mb-5">
    <button (click)="recargar()" class="btn btn-primary" type="button">
      Reiniciar
    </button>
  </div>
</ion-content>
